body {
    margin: 0;
    background-color: rgb(73, 73, 73);
    text-align: center;
}

#logo { 
    width: 100px;
    text-align: center;
    border: 2px solid rgb(61, 74, 187);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #575757;
    border-radius: 50px;
}

#logo:hover {
    transition: all .2s ease-in;
    border: 2px solid rgb(160, 160, 160);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#top {
    font-size: 39px;
    text-align: center; 
    text-decoration: none;
    background-image: url(https://ximmanuel.github.io/Domestic-Cat/stuff/images/background.png);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: rgb(72, 88, 228);
    padding-bottom: 40px;
    padding-top: 15px;
}

#top p:hover {
    transition: all .2s ease-in;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

#navigator a {
    color: rgb(196, 196, 196);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: 2px solid rgb(59, 73, 201);
    border-style: outset;
    background-color: #494949;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 7px;
}

#navigator b {
    color: rgb(143, 143, 143);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#navigator a:hover {
    transition: all .1s ease-in;
    color: rgb(230, 230, 230);
    transition: all .1s ease-in;
    color: rgb(255, 255, 255);
    transition: all .2s ease-in;
    border: 2px solid rgb(105, 105, 105);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#current_side {
    text-decoration: underline;
}

#middle {
    text-align: left;
    padding-left: 100px;
    padding-bottom: 200px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#bombay_cat {
    padding-left: 100px;
}

#bombay_cat img {
    cursor: url(https://immanuelm.de/katze/stuff/images/cursor-raw.png), auto;
    border: 3px solid rgb(59, 105, 255);
    box-shadow: 0 0 10px rgb(59, 105, 255);
    padding: 10px;
}

#middle h3 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 20px;
}

#middle h3:hover {
    transition: all .2s ease-in;
    text-shadow: 0 0 3px rgb(126, 128, 224);
}

#middle p:hover {
    transition: all .2s ease-in;
    text-shadow: 0 0 3px rgb(199, 200, 235);
}

#generell {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: left;
    margin-left: 100px;
    margin-right: 600px;
    border: 3px solid rgba(59, 85, 201, 0.829);
    box-shadow: 0 0 90px rgba(58, 145, 245, 0.932);
    background: linear-gradient(#474747, #636363);
    padding: 20px;
    display: block;
}

#look {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: left;
    margin-left: 600px;
    margin-right: 100px;
    border: 3px solid rgba(59, 85, 201, 0.829);
    box-shadow: 0 0 90px rgba(58, 145, 245, 0.932);
    background: linear-gradient(#474747, #636363);
    padding: 20px;
    display: block;
}

#character {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: left;
    margin-left: 100px;
    margin-right: 600px;
    border: 3px solid rgba(59, 85, 201, 0.829);
    box-shadow: 0 0 90px rgba(58, 145, 245, 0.932);
    background: linear-gradient(#474747, #636363);
    padding: 20px;
    display: block;
}

#origin {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: left;
    margin-left: 600px;
    margin-right: 100px;
    border: 3px solid rgba(59, 85, 201, 0.829);
    box-shadow: 0 0 90px rgba(58, 145, 245, 0.932);
    background: linear-gradient(#474747, #636363);
    padding: 20px;
    display: block;
}

@media screen and (max-width: 800px) {
    #logo {
        width: 80px;
    }
    #top p {
        font-size: 20px;
    }
    #navigator a {
        font-size: 16px;
    }
    #middle {
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
    }
    #middle img {
        height: 150px;
    }
    #middle h3 {
        font-size: 16px;
    }
    #middle p {
        font-size: 14px;
    }
    #generell {
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        padding: 0px;
    }
    #look {
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        padding: 0px;
    }
    #character {
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        padding: 0px;
    }
    #origin {
        text-align: center;
        margin-right: 20px;
        margin-left: 20px;
        padding: 0px;
    }
}
