

* {
    cursor: pointer;
    font-family: monospace;
    scroll-behavior: smooth;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav b:not(:first-child) {display: none;}
	.topnav b.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 5;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		margin: 20px;
	}
}

#go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #727171;
    color: white;
    padding: 15px;
    padding-right: 19px;
    padding-left: 19px;
    font-size: 18px;
}

#go-to-top:hover {
    background-color: #a19f9f;
    transition: all .2s ease-in;
}


#footer { 
    font-size: 17px; 
    text-align: center; 
    color: rgb(173, 173, 173);
    background-color: rgb(63, 63, 63);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-decoration: none;
    padding-bottom: 40px;
    padding-top: 20px;
}

#footer a {
    font-size: 17px; 
    text-align: center; 
    color: rgb(173, 173, 173);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-decoration: underline;
    padding-bottom: 40px;
    padding-top: 20px;
}

#footer a:hover {
    transition: all .1s ease-in;
    color: rgb(211, 211, 211);
}

#author_text {
    font-size: 18px;
}


::selection {
    background-color: #ffffffa9;
    color: rgb(0, 0, 0);
}

::-moz-selection {
    background-color: #ffffffa9;
    color: rgb(0, 0, 0);
}

::-o-selection {
    background-color: #ffffffa9;
    color: rgb(0, 0, 0);
}

::-ms-selection {
    background-color: #ffffffa9;
    color: rgb(0, 0, 0);
}

::-webkit-selection {
    background-color: #ffffffa9;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 800px) {
    #logo {
        width: 80px;
    }
    #top p {
        font-size: 20px;
    }
    #navigator a {
        font-size: 16px;
    }
    #middle {
        text-align: left;
        font-size: 15px;
    }
    #note a {
        font-size: 15px;
    }
	#cat_image {
        width: 200px;
        padding: 3px;
    }
	#random_cat_button {
        font-size: 13px;
    }
}
