body {
    margin: 0;
    background-color: rgb(73, 73, 73);
    text-align: center;
}

#logo { 
    width: 100px;
    text-align: center;
    border: 2px solid rgb(128, 198, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #575757;
    border-radius: 50px;
}

#logo:hover {
    transition: all .2s ease-in;
    border: 2px solid rgb(160, 160, 160);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#top {
    font-size: 38px; 
    text-align: center; 
    text-decoration: none;
    background-image: url(https://immanuelm.de/katze/stuff/images/background.png);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-bottom: 40px;
    padding-top: 15px;
    color: rgb(0, 195, 255);
}

#top p:hover {
    transition: all .2s ease-in;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

#navigator a {
    color: rgb(196, 196, 196);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: 2px solid rgb(155, 224, 245);
    border-style: outset;
    background-color: #494949;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 7px;
}

#navigator b {
    color: rgb(143, 143, 143);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#navigator a:hover {
    transition: all .1s ease-in;
    color: rgb(230, 230, 230);
    transition: all .1s ease-in;
    color: rgb(255, 255, 255);
    transition: all .2s ease-in;
    border: 2px solid rgb(105, 105, 105);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#current_side {
    text-decoration: underline;
}

#middle {
    text-align: center;
    padding-left: 100px;
    color: rgb(180, 180, 180);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#middle b {
    color: rgb(151, 180, 243);
    font-size: 25px;
}

#middle a {
    color: rgb(117, 161, 255);
    text-decoration: underline;
    font-size: 25px;
}

#middle a:hover {
    transition: all .2s ease-in;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.144);
}

#middle p {
    color: rgb(50, 114, 252);
    font-size: 30px;   
}

@media screen and (max-width: 800px) {
    #logo {
        width: 80px;
    }
    #top p {
        font-size: 20px;
    }
    #navigator a {
        font-size: 16px;
    }
    #middle {
        text-align: left;
    }
    #middle b {
        font-size: 17px;
    }
    #middle p {
        font-size: 17px;
    }
    #middle a {
        font-size: 15px;
        padding-left: 15px;
    }
}